.main{
    width: 1300px;
    height: 1000px;
    margin: 10px auto;
    border: 1px solid #e7e7e7;
}
.main .newslist{
    float: left;
    padding: 15px 0 0 12px;
    width: 430px;
    height: auto;
    margin: 0px;
}
.newslist li{
    float: left;
    height: 30px;
    width: 406px;
    line-height: 30px;
    padding: 1px 1px 1px 13px;
    border: transparent 1px solid;
    list-style-type: none;
    background: url(//icons.mydrivers.com/2018/www/icon.png) no-repeat -3px -658px;
}
span.t{
    float: right;
    color: #888;
    padding-right: 9px;
    width: 30px;
    line-height: 28px;
    font-size: 12px;
}
em.zhiding{
    width: 32px;
    height: 16px;
    background: #0483b0;
    color: white;
    float: left;
    font-size: 12px;
    padding: 2px;
    line-height: 15px;
    text-align: center;
    margin-top: 5px;
    margin-right: 3px;
    font-style: normal;
    font-weight: normal;
}
span a{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}